.header-container{
    width: 100%;
    height: 60px;
    background-color: #fdc827;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.logo{
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-left: 40px;
    // font-family: 'creepster',cursive;

}
.btn{
    color: white;
    background-color: black;
    border-radius: 12px;
}
.logout{
    margin-right: 30px;
}